<!-- <div class="caption " style="color:#fff;font-size: 18; border: 1px; margin:2px; ">
    <button style="background-color:orange; " class="btn btn-outline" ng-click="callModalService('challan.html','md')">Add</button>
    <span class="caption-helper hide "></span>
</div>

<li>
            <a href="javascript:;" ng-click="callModalService('challan.html','md')">
                <i class="fa fa-file-excel-o"></i>Challan</a>
        </li>  -->

   <!DOCTYPE html>
   <html>
   <head>
   	<title></title>
   </head>
   <body>
   	<p>Add unit</p>
   </body>
   </html>