<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Dashboard </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="app.dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="app.dashboard">Dashboard</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red"  style="cursor:pointer;" ui-sref="app.companies">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {{companyCount || 0}} </div>
                    <div class="desc"> Total Companies </div>
                </div>
            </div>
        </div>
         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number"> {{certificateCount || 0 }} </div>
                    <div class="desc"> Total Certificates Created </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number"> {{shareCount || 0}} </div>
                    <div class="desc"> Total Shares</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> {{totalDocuments || 0 }} </div>
                    <div class="desc"> Total Document Uploaded </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
</div>
<!-- END MAIN CONTENT -->
