<div class="row">
    <div class="col-md-12">
    
        <div class="portlet light bordered">
            
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-line boxless tabbable-reversed">
                            <form role="form" class="form-user" id="frmAgency" name="frmAgency" novalidate ng-submit="updateAgency()">
                                <div class="form-body">
                                    <div class="row">
                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Name:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.policyNo" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">address:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.effDate" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Policy Type:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.policyType.programName" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Status:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.status" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Premium:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.premium" ng-disabled="true" />
                                                    </div>
                                                </div>
                                               <!--  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Status:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.status" ng-disabled="true" />
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <h3 class="form-section">Insured Information</h3> -->
                                    <div class="row">
                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Name:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.name" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Email:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.email" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                 <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Address 1:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.address1" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Address 2:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.address2" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">City:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.state" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                 <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">State:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.state" ng-disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Zip:</label>
                                                        <input type="text" class="form-control" name="name" ng-model="policy.customerId.zip" ng-disabled="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
