<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
            <i class="fa fa-angle-right"></i>
			<a href="#/ng_createAvalibility.html">Availibility</a>
			
		</li>
		
	</ul>
	
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN SPINNER -->
 <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
           
            <div class="portlet-body">
                <div class="tabbable" ng-init="!activeTab?activeTab=0:''">
                    <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue">
                        <li ng-class="activeTab==0 ? 'active' : ''" ng-click="activeTab=0" class="" style="">
                            <a>
                          EXSISTING
                        </a>
                        </li>
                        <li ng-class="activeTab==1 ? 'active' : ''" ng-click="activeTab=1" class="" style="">
                            <a>
                          CREATE NEW
                        </a>
                        </li>
                       
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active ng-scope ng-hide" ng-show="activeTab==0" ng-include="'views/availability/exsisting.html'" style="" >
                        </div>
                        <div class="tab-pane active ng-scope ng-hide" ng-show="activeTab==1" ng-include="'views/availability/newAva.html'" style="" ng-init="getHosp()">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
